$blue-900: #022144;
$off-white: #fafbfc;

$yellow-400: #feb633;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 2rem;
$padding-xl: 4rem;
$padding-xxl: 6rem;

$padding-x-md: 0rem 1.25rem;
$padding-y-md: 1.25rem 0rem;
$padding-x-lg: 1.875rem 4.375rem;
$padding-y-xl: 0rem 6.25rem;

$gap-sm: 5px;
$gap-md: 20px;
$gap-lg: 30px;
$gap-xl: 50px;

$w-50: 50px;
$w-35: 35px;
$w-45: 45px;
$w-300: 300px;
$w-50p: 50%;
$w-100p: 100%;

$h-10vh: 10vh;
$h-35: 35px;
$h-45: 45px;
$h-90vh: 90vh;

$max-365: 365px;
$max-600: 600px;
$max-768: 768px;
$max-1024: 1024px;

$radius-full: 50%;

$fs-12: 12px;
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
