@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    height: $h-10vh;
    padding: $padding-md;

    &__left {
        width: $w-50;
        height: $h-35;
    }

    &__right {
        width: $w-35;
        height: $h-35;
        padding: $padding-md;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #CCCCCC;
        border-radius: $radius-full;
        cursor: pointer;
        background-color: none;


        img {
            width: 15px;
            height: 15px;
        }
    }

}